:root {
    --spacing: 20px;
}


html, body{
    height: 100%;
    background-color: rgb(238, 230, 230);
}

body {
    padding: var(--spacing);
}

header {
    display: flex;

}

header > div { margin-right: var(--spacing);

}

header img.logo {
    border-radius: 1200px;
    max-width: 160px;

}

header > button {
    display: block;
    border: none;
    background-color: transparent;
    margin-left: auto;

}

section.filter {
    margin: var(--spacing) 0;

}

section.filter ul {
    display: flex;
}
section.filter ul li {
    margin: calc(var(--spacing) / 2);
}

article h1 {
position: auto;
left: 0;
right: 0;
bottom: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
 
table, td {
    border: 1px  black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px;
    background-color: white;
 
     }

     footer {
        background-color: rgb(99, 97, 97);
        margin-top: var(--spacing);
        padding: var(--spacing);
        display: flex;
     }